/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Header Area Css
   ========================================================================== */
.header-area {
    background: #fff;
}

.main-menu:after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    padding-top: 27px;
}

.menu-bar {
    display: block;
    text-align: right;
    color: #44c0c2;
    display: none;
    font-size: 20px;
    margin-top: -30px;
}

.main-menu ul {
    float: right;
}

.main-menu ul li {
    float: left;
}

.main-menu ul li a {
    display: block;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 15px;
    color: #484c55;
    padding: 32px 28px;
    transition: .3s;
    border-bottom: 3px solid transparent;
}

.main-menu ul li:hover a {
    color: #49cbcd;
    background: #f8f9fb;
    border-bottom: 3px solid #49cbcd;
}

.main-menu ul li.active a {
    color: #49cbcd;
    background: #f8f9fb;
    border-bottom: 3px solid #49cbcd;
}

/* ==========================================================================
   Slider Area Css
   ========================================================================== */
.carousel-caption {
    bottom: auto;
    top: 25%;
}

.carousel-caption h2 {
    font-size: 55px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 20px;
}

.carousel-caption p {
    font-size: 20px;
}

.carousel-caption a {
    color: #fff;
    font-size: 26px;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 10px 55px;
    display: inline-block;
    font-weight: 500;
    margin-top: 30px;
    transition: .3s;
}

.carousel-caption a:hover {
    color: #fff;
    background: #44c0c2;
    border-color: #44c0c2;
}

.carousel-control-prev-icon {
    background-image: url('../images/left-arrow.png');
}

.carousel-control-next-icon {
    background-image: url('../images/right-arrow.png');
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

/* ==========================================================================
   Services Area Css
   ========================================================================== */
.services-area {
    padding-top: 100px;
    padding-bottom: 100px;

}

.single-service {
    float: left;
}

.single-service i {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    border: 3px solid #49cbcd;
    border-radius: 50%;
    color: #49cbcd;
    font-size: 40px;
    line-height: 95px;
    cursor: pointer;
    transition: .3s;
}

.single-service i:hover {
    background: #49cbcd;
    color: #fff;
}

.single-service h3 {
    color: #4e525d;
    font-size: 22px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.single-service p {
    color: #4e525d;
    line-height: 26px;
    padding-bottom: 15px;
}

.single-service a {
    color: #fff;
    background: #49cbcd;
    padding: 10px 15px;
    border-radius: 5px;
    transition: .3s;
    border: 1px solid transparent;
}

.single-service a:hover {
    color: #49cbcd;
    background: #fff;
    border: 1px solid #49cbcd;
}

/* ==========================================================================
   Portfolio Area Css
   ========================================================================== */
.p-heading {}

.p-heading h2 {
    color: #4e525d;
    font-size: 42px;
    font-weight: 500;
    padding-bottom: 62px;
}

.portfolio-area {
    background: #f1f1f1;
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 100px;
}

.single-portfolio {
    margin-bottom: 30px;
}

.single-portfolio img {
    width: 100%;
}

.p-button a {
    font-size: 24px;
    background: #49cbcd;
    color: #fff;
    padding: 16px 46px;
    border-radius: 5px;
    margin-top: 50px;
    display: inline-block;
    border: 1px solid transparent;
    transition: .3s;
}

.p-button a:hover {
    color: #49cbcd;
    background: #fff;
    border: 1px solid #49cbcd;
}

/* ==========================================================================
   Team Area Css
   ========================================================================== */
.team-area {
    padding-top: 95px;
    padding-bottom: 125px;
    background: #fff;
}

.team-area .p-heading {
    padding-bottom: 50px;
}

.single-team {
    text-align: center;
    color: #4e525d;
}

.single-team h2 {
    font-size: 22px;
    font-weight: 400;
    padding-top: 65px;
    padding-bottom: 10px;
}

.single-team h5 {
    font-size: 14px;
    padding-bottom: 30px;
}

.single-team p {
    font-size: 14px;
    line-height: 26px;
}

.team-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.team-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, .6);
    opacity: 0;
    transition: .3s;
    border-radius: 50%;
}

.team-image:hover .team-hover {
    opacity: 1;
    top: 0%;
}

.team-hover a {
    color: #f46d6d;
    font-size: 55px;
    line-height: 190px;
}

.team-image img {
    width: 100%;
    transition: .5s;
}

.team-image:hover img {
    transform: scale(1.3);
}

/* ==========================================================================
   Price Table Area Css
   ========================================================================== */
.price-area {
    background: #f1f1f1;
    padding-top: 100px;
    padding-bottom: 100px;
}

.single-table {
    background: #f8f9fb;
    overflow: hidden;
    text-align: center;
    color: #8c9299;
}

.single-table h2 {
    color: #fff;
    font-size: 26px;
    font-weight: 400;
    background: #485460;
    padding: 20px 0;
}

.single-table h3 {
    color: #485460;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 0;
}

.single-table ul {
    background: #fff;
}

.single-table ul li:first-child {
    border-top: 1px solid #ecf0f1;
}

.single-table ul li {
    padding: 12px 0;
    border-bottom: 1px solid #ecf0f1;
}

.single-table a {
    display: inline-block;
    margin: 35px 0;
    background: #788492;
    font-size: 17px;
    border-radius: 4px;
    color: #fff;
    padding: 8px 48px;
    font-weight: 500;
    transition: .3s;
}

.single-table a:hover {
    background: #4fbdbf;
}

.table-2 h2 {
    background: #49cbcd;
}

.table-2 a {
    background: #49cbcd;
}

/* ==========================================================================
   Clients Area Css
   ========================================================================== */
.clients-area {
    padding-top: 150px;
    padding-bottom: 100px;
    background: #fff;
    text-align: center;
}

.single-carosel {}

.single-carosel h2 {
    color: #4e525d;
    font-size: 42px;
    padding-bottom: 55px;
    font-weight: 400;
}

.single-carosel p {
    color: #4e525d;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    width: 59%;
    text-align: center;
    margin: 0 auto;
}

.single-carosel h3 {
    padding-top: 40px;
    font-size: 21px;
    color: #9a8faf;
}

.owl-prev {
    position: absolute;
    left: 0px;
    top: 50%;
}

.owl-next {
    position: absolute;
    right: 0px;
    top: 50%;
}

.owl-nav i {
    font-size: 40px;
    color: #979797;
}

/* ==========================================================================
   Footer Area Css
   ========================================================================== */

.footer-area {
    background: url('../images/footer-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    padding-top: 105px;
    padding-bottom: 105px;
}

.p-footer {
    color: #fff;
    font-size: 42px;
    padding-bottom: 110px;
    font-weight: 400;
}

.footer-left {}

.footer-left h2 {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 10px;
}

.footer-left p {
    color:#fff;
    font-weight: 300;
    padding-bottom: 30px;
}

.footer-left ul {
    margin-bottom: 25px;
}

.footer-left ul li {
    display: inline-block;
}
.footer-left ul li a{
    color: #fff;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 37px;
    margin-right: 10px;
}
.footer-left ul li:nth-child(1) a{
    background: #3b5997;
}
.footer-left ul li:nth-child(2) a{
    background: #3ec2f3;
}
.footer-left ul li:nth-child(3) a{
    background: #e44c41;
}
.footer-left address p,.footer-left address a{
    margin: 0;
    padding: 0;
    color: #bface2;
}
.footer-right .form-control{
    padding: 10px 20px;
    font-weight: 300;
}
.form-group textarea{
    height:180px;
}
.submit-button{
    float: right;
    background: #49cbcd;
    color: #fff;
    padding: 10px 45px;
    font-size: 22px;
    cursor: pointer;
    margin-top: 27px;
}
.form-group textarea,.footer-right .form-control::placeholder {
    color: #c1c1c1;
    opacity: 1; /* Firefox */
}

.form-group textarea,.footer-right .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #c1c1c1;
}

.form-group textarea,.footer-right .form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: #c1c1c1;
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
